body{
     background-color: #ccc;
     margin: 0px;
}
.homesec {
    /* padding-top: 20px; Adds space between the navbar and the content */
    background-color: #ccc;
}

.nav{margin-top: 0px;}
  
  .home {
    padding: 20px;
    background-color: white;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
    
  }
  
  .buttonSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
   
    margin-bottom: 20px; /* Space between button section and the summary table */
  }
  
  .addBookContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .AddBook {
    padding: 10px 20px;
    background-color: rgb(0, 162, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .AddBook:hover {
    background-color: rgb(0, 116, 0);
  }
  
  .search-bar input {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .summaryTable {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .popupBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .popupContent {
    
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    position: relative;
  }
  
  .popupCloseButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    color: #333;
    cursor: pointer;
  }
  
  .popupCloseButton:hover {
    color: red;
  }
  